.gallery {
  max-width: 880px;
  min-width: 282px;
  width: 100%;
  margin: 50px 0 calc(67px - 40px);
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(282px, 1fr));
  grid-template-rows: repeat(auto-fill, min-content);
  grid-gap: 20px 17px;
  background-color: black;
  align-items: flex-start;
}

@media screen and (max-width: 768px) {
  .gallery {
    margin: 36px 0 calc(50px - 40px);
  }
}
