.card__picture {
  grid-area: card__picture;
  width: 100%;
  border-radius: 10px 10px 0px 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  align-self: stretch;
}

.card__picture:hover {
  opacity: 0.9;
  cursor: zoom-in;
}
