.header {
  grid-area: header;
  max-width: 100%;
  min-width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  border-bottom: 1px solid rgba(84, 84, 84, .7);
}
