  .popup__container_value_card-popup {
    max-height: 75%;
    max-width: 75%;
    width: max-content;
    min-width: 240px;
    display: -ms-grid;
    display: grid;
    grid-template-areas:
      "close-up-picture"
      "picture-details";
    grid-template-rows: max-content auto;
    grid-template-columns: min-content;
    grid-row-gap: 10px;
    background: none;
    border-radius: 0px;
    box-shadow: none;
  }
