.card-popup__container {
  max-height: 75vh;
  max-width: 75vw;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

@media screen and (max-width: 320px) {
  .card-popup__container {
    max-height: 88%;
    max-width: 88%;
  }
}
