.card__like-button {
  grid-area: card__like-button;
  max-width: 21px;
  max-height: 19px;
  border: none;
  background-color: transparent;
  background-image: url('../../../images/icons/like-icon.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10.5px 9.5px;
  margin: 25px 0 31px 0;

}

.card__like-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
