.profile__add-icon {
  max-width: 22px;
  max-height: 22px;
  margin: 14px 62px;
  background: rgba(0, 0, 0, 0);
}

@media screen and (max-width: 768px) {
  .profile__add-icon {
    max-width: 16px;
    max-height: 16px;
    margin: 17px 128px;
  }
}
