/* for inactive Button */
.form__submit-button_disabled {
  background: none;
  color: #000000;
  opacity: 0.2;
  border: 1px solid #000000;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
