.popup__close-button {
  position: absolute;
  bottom: 100%;
  left: 100%;
  fill: white;

  max-width: 40px;
  max-height: 40px;
  min-width: 26px;
  min-height: 26px;
  background: #FFFFFF;
  transform: rotate(-45deg);

}

.popup__close-button:hover {
  background: rgba(255, 255, 255, 0.8);
  /* transform: rotate(45deg); */

}
