.popup__close-button {
  position: absolute;
  bottom: 100%;
  left: 100%;
  max-width: 40px;
  max-height: 40px;
  min-width: 26px;
  min-height: 26px;
  border: 0;
  background-color: transparent;
  background-image: url('../../../images/icons/close-icon.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px;
}

@media screen and (max-width: 619px) {
  .popup__close-button {
    left: 90%;
    bottom: 105%;
    padding: 13px;
  }
}

.popup__close-button:hover {
  opacity: 0.6;
  cursor: pointer;
}
