.profile__picture {
  grid-area: profile__picture;
  border-radius: 100%;
  max-width: 120px;
  margin-right: calc(30px - 18px);
}

@media screen and (max-width: 768px) {
  .profile__picture {
    justify-self: center;
    margin: 0 0 calc(30px - 14px) 0;
  }
}
