.profile__picture {
  grid-area: profile__picture;
  border-radius: 100%;
  max-width: 120px;
  margin-right: cala(30px-18px);
}

@media screen and (max-width: 768px) {
  .profile__picture {
    justify-self: center;
    margin-bottom: calc(30px-14px);
  }
}
