.profile__info {
  grid-area: profile__info;
  min-width: 282px;
  max-width: 100%;
  display: grid;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  grid-template-areas:
    "profile__picture . .                .                .                   "
    "profile__picture . profile__name    .                profile__edit-button"
    "profile__picture . .                .                .                   "
    "profile__picture . profile__details profile__details profile__details    "
    "profile__picture . .                .                .                   ";
  grid-template-columns: min-content 30px max-content 20px min-content;
  grid-template-rows: 22px 39px 16px 22px 21px;
  align-items: flex-end;
}

@media screen and (max-width: 768px) {
  .profile__info {
    grid-template-areas:
      "profile__picture  profile__picture"
      "profile__name profile__edit-button"
      "profile__details  profile__details";
    grid-gap: 9px 10px;
    grid-template-rows: min-content min-content min-content;
    grid-template-columns: max-content min-content;
    justify-content: center;
  }
}

/*

Not precise enough but clearer :

grid-template-areas:
  "profile__picture profile__name profile__edit-button"
  "profile__picture profile__details  profile__details";
grid-template-columns: min-content max-content max-content;
grid-gap: 16px 18px;
align-items: center;

*/
