.card__title {
  grid-area: card__title;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
  color: black;
  font-family: 'Inter', 'Calibri', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  padding: 0;
  margin: 0 0 31px 21px;
}
