.page__wrapper {
  max-width: 880px;
  min-width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 45px auto 60px;
  background-color: orange;
}

@media screen and (max-width: 768px) {
  .page__wrapper {
    margin: 35px auto 50px;
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .page__wrapper {
    margin: 28px auto 36px;
  }
}
