.card {
  max-width: 100%;
  /* height: 100%; */
  display: -ms-grid;
  display: grid;
  grid-template-areas:
    "card__picture"
    "card__info";
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 10px;
  grid-template-rows: max-content auto;
  /* grid-template-columns: min-max(1fr, 361px); */
  background-color: black;
}
